<!DOCTYPE html>
<html lang="en">

 

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Africamex - Questionnaire d'autotest du coronavirus">
    <meta name="author" content="Africamex">
    <meta name="keywords" content="coronavirus, corona, covid-19, autotest, corona virus, covid, covid19">
    <title>Coronavirus | Questionnaire de Santé - AFRICAMEX COTE D'IVOIRE</title>

{% load static %}
    <!-- Favicons-->
<link rel="shortcut icon" href="{% static "monapp/static/img/Africamex-favi.png" %}"  type="image/x-icon">
    

    <!-- GOOGLE WEB FONT -->

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="{% static "monapp/static/css/bootstrap.min.css" %}" rel="stylesheet">
	<link href="{% static "monapp/static/css/menu.css"%}" rel="stylesheet">
    <link href="{% static "monapp/static/css/style.css" %}" rel="stylesheet">
	<link href="{% static "monapp/static/css/vendors.css" %}" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="{% static "monapp/static/css/custom.css"%}" rel="stylesheet">

	
	<!-- MODERNIZR MENU -->
	<script src="{% static "monapp/static/js/modernizr.js"%}"></script>



</head>

<body>
	
	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div><!-- /Preload -->
	
	<div id="loader_form">
		<div data-loader="circle-side-2"></div>
	</div><!-- /loader_form -->

	<header>
		<div class="container">
		    <div class="row">
                <div class="col-3">
                     <a href="index.html"><img src="{% static "monapp/static/img/LOGO-Africamex.png"%}" alt="" width="178" height="45" class="d-none d-md-block"><img src="{% static "monapp/static/img/LOGO-Africamex.png"%}" alt="" width="62" height="45" class="d-block d-md-none"></a>
                </div>
                <div class="col-9">
                    <div id="social">
                        <ul>
                            <li><a href="#0"><i class="icon-facebook"></i></a></li>
                            <li><a href="#0"><i class="icon-twitter"></i></a></li>
                            <li><a href="#0"><i class="icon-google"></i></a></li>
                            <li><a href="#0"><i class="icon-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <!-- /social -->
					<a href="#0" class="cd-nav-trigger">Menu<span class="cd-icon"></span></a>
					<!-- /menu button -->
                    <nav>
						<ul class="cd-primary-nav">
							<li><a href="index.html" class="animated_link">Questionnaire</a></li>
							<li><a href="prevention.html" class="animated_link">Astuces de Prévention</a></li>
							<li><a href="faq.html" class="animated_link">Faq</a></li>
						</ul>
					</nav>
					<!-- /menu -->
                </div>
            </div>
		</div>
		<!-- /container -->
	</header>
	<!-- /Header -->

	<div class="container">
    <div id="form_container">
        <div class="row no-gutters">
            <div class="col-lg-4">
                <div id="left_form">
                    <figure>
                        <img src="{% static "monapp/static/img/info_graphic_1.svg"%}" alt="" width="100" height="100">
                    </figure>
                    <h2>CORONAVIRUS <span>Questionnaire de Santé</span></h2>
                    <p>Vous pensez avoir été exposé au Coronavirus COVID-19 et avez des symptômes ? <br>Faites le test en cliquant sur le boutton bleu suivant </p>
                    <p><h5>Numeros d'Urgences sont communiqués à la fin du test en fonction de votre pays de résidence </h5> <h2><strong></strong><h2></p>
                    <a href="prevention.html" class="btn_1 rounded yellow purchase" target="_parent">Voir les Mesures de Préventions</a>
                    <a href="prevention.html" class="btn_1 rounded mobile_btn yellow">Voir les Mesures de Préventions</a>
                    <a href="#0" id="more_info" data-toggle="modal" data-target="#more-info"><i class="pe-7s-info"></i></a>
                </div>
            </div>
            <div class="col-lg-8">
                <div id="wizard_container">
                    <div id="top-wizard">
                        <div id="progressbar"></div>
                        <span id="location"></span>
                    </div>
                    <!-- /top-wizard -->
                    <form id="wrapped" method="post" action="/resultats/">
                        {% csrf_token %}
                        <input id="website" name="website" type="text" value="">
                        <!-- Leave for security protection, read docs for details -->
                        <div id="middle-wizard">    

                            <div class="step">
                                <h3 class="main_question"><i class="arrow_right"></i>Demarrez le test en cliquant sur le boutton bleu suivant</h3>
                                <h3 class="main_question"><i class=""></i>Cliquez sur le boutton bleu suivant </h3>
                                <div class="row">

                                    
                                    <div class="col-lg-6">
                                      
                                        
                                    </div>
                                </div>

                                <!-- /row -->
                            </div>

                            <div class="step" >

                                <label class="custom add_top_10"></label>
                                <h3 class="main_question"><i class="arrow_right"></i>Dans quel pays résidez-vous actuellement?</h3>
                                <div class="row">

                                    
                                    <div class="col-lg-6">
                                       {{form_choix_du_pays}}
                                        
                                    </div>
                                </div>

                                
                            </div>

                             <div class="step" >
                             


                                <label class="custom add_top_10"></label>
                                <h3 class="main_question"><i class="arrow_right"></i>Pensez-vous avoir eu de la fièvre ces derniers jours (frissons, sueurs) ?</h3>
                                <div class="form-group">
                                    <label class="container_radio version_2">Oui
                                        <input type="radio" name="question_f" value="Yes" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">Non
                                        <input type="radio" name="question_f" value="No" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                
                                </div>
                                
                            </div>
                            <div class="step">
                                <h3 class="main_question"><i class="arrow_right"></i>Quelle a été votre température la plus élevée de ces dernières 48 heures ?</h3>
                                <div class="row">

                                    
                                    <div class="col-lg-6">
                                       {{form_temp}}
                                        
                                    </div>
                                </div>

                                <!-- /row -->
                            </div>
                            

                             
                            <!-- /Start Branch ============================== -->
                            <div class="step" >
                             


                                <label class="custom add_top_10"></label>
                                <h3 class="main_question"><i class="arrow_right"></i>Ces derniers jours, avez-vous une toux ou une augmentation de votre toux habituelle ?</h3>
                                <div class="form-group">
                                    <label class="container_radio version_2">Oui
                                        <input type="radio" name="question_2" value="Yes" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">Non
                                        <input type="radio" name="question_2" value="No" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                
                                </div>
                                
                            </div>

                            <!-- /difficulty in breathing > Yes ============================== -->

                                <div class="step" >
                                    <h3 class="main_question"><i class="arrow_right"></i> Avez-vous noté une forte diminution de votre goût ou de votre odorat ces derniers jours ?</h3>
                                    <div class="form-group">
                                        <label class="container_radio version_2"> Oui
                                            <input type="radio" name="question_3" value="Yes" class="required">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="container_radio version_2">Non
                                            <input type="radio" name="question_3" value="No" class="required">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    
                                    
                                </div>
                           
                            <!-- /step-->

                          
                                <div class="form-group">

                                </div>
                      
                            <!-- /step-->


                            <!-- /difficulty in breathing > No ============================== -->
                            <div class="step" id="No">
                                <h3 class="main_question"><i class="arrow_right"></i>Avez-vous un mal de gorge ou des douleurs musculaires ou des courbatures inhabituelles ces derniers jours ?</h3>
                                <div class="form-group">
                                    <label class="container_radio version_2">Oui
                                        <input type="radio" name="question_5" value="Yes" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">Non
                                        <input type="radio" name="question_5" value="No" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <!-- /step-->

                            <div class="step">
                                <h3 class="main_question"><i class="arrow_right"></i>Avez-vous de la diarrhée ces dernières 24 heures (au moins 3 selles molles) ?</h3>
                                <div class="form-group">
                                    <label class="container_radio version_2">Oui
                                        <input type="radio" name="question_6" value="Yes" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">Non
                                        <input type="radio" name="question_6" value="No" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <!-- /step-->

                            <div class="step">
                                <h3 class="main_question"><i class="arrow_right"></i>Ces derniers jours, avez-vous une fatigue inhabituelle ?</h3>
                                <div class="form-group">
                                    <label class="container_radio version_2">Oui
                                        <input type="radio" name="question_4" value="Yes" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">Non
                                        <input type="radio" name="question_4" value="No" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <!-- /step-->

                            <div class="step">
                                <h3 class="main_question"><i class="arrow_right"></i>Avez-vous une fatigue inhabituelle ces derniers jours vous oblige-t-elle à vous reposer plus de la moitié de la journée ?</h3>
                                <div class="form-group">
                                    <label class="container_radio version_2">Oui
                                        <input type="radio" name="question_7" value="Yes" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">Non
                                        <input type="radio" name="question_7" value="No" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <!-- /step-->

                            <div class="step">
                                <h3 class="main_question"><i class="arrow_right"></i>Êtes-vous dans l'impossibilité de vous alimenter ou de boire DEPUIS 24 HEURES OU PLUS ?</h3>
                                <div class="form-group">
                                    <label class="container_radio version_2">Oui
                                        <input type="radio" name="question_8" value="Yes" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">Non
                                        <input type="radio" name="question_8" value="No" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <!-- /step-->

                            <div class="step">
                                <h3 class="main_question"><i class="arrow_right"></i>Dans les dernières 24 heures, avez-vous noté un manque de souffle INHABITUEL lorsque vous parlez ou faites un petit effort ?</h3>
                                <div class="form-group">
                                    <label class="container_radio version_2">Oui
                                        <input type="radio" name="question_9" value="Yes" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">Non
                                        <input type="radio" name="question_9" value="No" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>

                            <!-- /step-->
                            <div class="step">
                                <h3 class="main_question"><i class="arrow_right"></i>Quel est votre âge ?</h3>
                                <div class="form-group">
                                 {{form_age}}
                                </div>
                            </div>
                            <!-- /step-->

                            <div class="step">
                                <h3 class="main_question"><i class="arrow_right"></i>Quel est votre poids ? Quelle est votre taille ?</h3>
                                <div class="">
                                    <div class="form-group">
                                         <label class="">
                               
                                    
                                    {{form_poids}} 
                              
                                        </label>
                                         <label class="">
                                    
                                     {{form_taille}} 
                               
                                         </label>
                                    </div>
                                    
                                    
                                </div>
                            </div>
                            <!-- /step-->

                            <div class="step">
                                <h3 class="main_question"><i class="arrow_right"></i>Avez-vous de l’hypertension artérielle mal équilibrée ? Ou avez-vous une maladie cardiaque ou vasculaire ? Ou prenez-vous un traitement à visée cardiologique ?</h3>
                                <div class="form-group">
                                    <label class="container_radio version_2">Oui
                                        <input type="radio" name="question_10" value="Yes" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">Non
                                        <input type="radio" name="question_10" value="No" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">Je ne sais pas
                                        <input type="radio" name="question_10" value="Yes" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <!-- /step-->

                            <div class="step">
                                <h3 class="main_question"><i class="arrow_right"></i>Êtes-vous diabétique ?</h3>
                                <div class="form-group">
                                    <label class="container_radio version_2">Oui
                                        <input type="radio" name="question_11" value="Yes" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">Non
                                        <input type="radio" name="question_11" value="No" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <!-- /step-->

                            <div class="step">
                                <h3 class="main_question"><i class="arrow_right"></i>Avez-vous ou avez-vous eu un cancer dans les 3 dernières années ?</h3>
                                <div class="form-group">
                                    <label class="container_radio version_2">Oui
                                        <input type="radio" name="question_12" value="Yes" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">Non
                                        <input type="radio" name="question_12" value="No" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <!-- /step-->

                            <div class="step">
                                <h3 class="main_question"><i class="arrow_right"></i>Avez-vous une maladie respiratoire ? Ou êtes-vous suivi par un pneumologue ?</h3>
                                <div class="form-group">
                                    <label class="container_radio version_2">Oui
                                        <input type="radio" name="question_13" value="Yes" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">Non
                                        <input type="radio" name="question_13" value="No" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <!-- /step-->

                            <div class="step">
                                <h3 class="main_question"><i class="arrow_right"></i>Avez-vous une insuffisance rénale chronique dialysée ?</h3>
                                <div class="form-group">
                                    <label class="container_radio version_2">Oui
                                        <input type="radio" name="question_14" value="Yes" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">Non
                                        <input type="radio" name="question_14" value="No" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <!-- /step-->

                            <div class="step">
                                <h3 class="main_question"><i class="arrow_right"></i>Avez-vous une maladie chronique du foie ?</h3>
                                <div class="form-group">
                                    <label class="container_radio version_2">Oui
                                        <input type="radio" name="question_15" value="Yes" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">Non
                                        <input type="radio" name="question_15" value="No" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <!-- /step-->

                            <div class="step">
                                <h3 class="main_question"><i class="arrow_right"></i>Êtes-vous enceinte ?</h3>
                                <div class="form-group">
                                    <label class="container_radio version_2">Oui
                                        <input type="radio" name="question_16" value="Yes" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">Non
                                        <input type="radio" name="question_16" value="No" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">Non Applicable
                                        <input type="radio" name="question_16" value="No" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <!-- /step-->

                            <div class="step">
                                <h3 class="main_question"><i class="arrow_right"></i>Avez-vous une maladie connue pour diminuer vos défenses immunitaires ?</h3>
                                <div class="form-group">
                                    <label class="container_radio version_2"> Oui
                                        <input type="radio" name="question_17" value="Yes" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">Non
                                        <input type="radio" name="question_17" value="No" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">Je ne sais pas
                                        <input type="radio" name="question_17" value="No" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <!-- /step-->

                            <div class="step">
                                <h3 class="main_question"><i class="arrow_right"></i>Prenez-vous un traitement immunosuppresseur ? C’est un traitement qui diminue vos
défenses contre les infections. Voici quelques exemples : corticoïdes, méthotrexate,
ciclosporine, tacrolimus, azathioprine, cyclophosphamide (liste non exhaustive).</h3>
                                <div class="form-group">
                                    <label class="container_radio version_2">Oui
                                        <input type="radio" name="question_18" value="Yes" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">Non
                                        <input type="radio" name="question_18" value="No" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">Je ne sais pas
                                        <input type="radio" name="question_18" value="No" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>

                    
                            <!-- /step-->



                            <div class="submit step" id="end">
                                <div class="summary">
                                    <div class="wrapper">
                                        <h3>Merci pour votre temps ! <br><span id="name_field"></span></h3>
                                        
                                    </div>
                                   
                                </div>
                            </div>
                            <!-- /step last-->

                        </div>
                        <!-- /middle-wizard -->
                        <div id="bottom-wizard">
                            <button type="button" name="backward" class="backward"> Précédent </button>
                            <button type="button" name="forward" class="forward">Suivant </button>
                            
                        </div>
                        <div id="bottom-wizard">
                         <<<<<..........>>>>>
                        </div>
                        <div id="bottom-wizard">
                         <button type="submit" name="process" class="btn btn-primary btn-lg btn-block">Voir le résultat </button>
                        </div>
                        <!-- /bottom-wizard -->
                    </form>
                </div>
                <!-- /Wizard container -->
            </div>
        </div><!-- /Row -->
    </div><!-- /Form_container -->
</div>
<!-- /container -->

<div class="container">
    <footer id="home" class="clearfix">
        <p>Conception:  Modeste AGOSSADOU & Paul SIXTE modestics@gmail.com whatsapp +229 96822382 </p>
        <ul>
            <li><a href="prevention.html" class="animated_link">Astuces de Prévention</a></li>
            <li><a href="faq.html" class="animated_link">Faq</a></li>
            
        </ul>
    </footer>
    <!-- end footer-->
</div>
<!-- /container -->

<div class="cd-overlay-nav">
    <span></span>
</div>
<!-- /cd-overlay-nav -->
<div class="cd-overlay-content">
    <span></span>
</div>
<!-- /cd-overlay-content -->

	<!-- Modal terms -->
	<div class="modal fade" id="terms-txt" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="termsLabel">Terms and conditions</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<p>Lorem ipsum dolor sit amet, in porro albucius qui, in <strong>nec quod novum accumsan</strong>, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
					<p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus. Lorem ipsum dolor sit amet, <strong>in porro albucius qui</strong>, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
					<p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn_1" data-dismiss="modal">Close</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->

	<!-- Modal info -->
	<div class="modal fade" id="more-info" tabindex="-1" role="dialog" aria-labelledby="more-infoLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="more-infoLabel">Questions fréquemment posées</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<p>Lorem ipsum dolor sit amet, in porro albucius qui, in <strong>nec quod novum accumsan</strong>, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
					<p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus. Lorem ipsum dolor sit amet, <strong>in porro albucius qui</strong>, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
					<p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn_1" data-dismiss="modal">Fermer</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
	
	<!-- COMMON SCRIPTS -->
	<script src="{% static "monapp/static/js/jquery-3.2.1.min.js"%}"></script>
    <script src="{% static "monapp/static/js/common_scripts.min.js"%}"></script>
	<script src="{% static "monapp/static/js/velocity.min.js"%}"></script>
	<script src="{% static "monapp/static/js/common_functions.js"%} "></script>

	<!-- Wizard script-->
	<script src="{% static "monapp/static/js/func_1.js" %} "></script>

</body>
</html> 